In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [33]:
# Checking the data displayed in the dataframe
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [34]:
#Calculate the total number of students
Total_Students = school_data_complete["Student ID"].count()
Total_Students

39170

In [35]:
# Get a list of all of our columns for easy reference
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [36]:

#  Create a new df for "Average math score,average reading score,%math score,%reading score, " with the columns. 

#calculate Average math score
average_math_score = school_data_complete['math_score'].mean()
print(average_math_score)

school_data_complete["average_math_score"] =school_data_complete['math_score'].mean()
school_data_complete

#Calculate the number of students with a passing math score (70 or greater)
math_score_70above =len(school_data_complete.loc[school_data_complete["math_score"]>=70])
print(math_score_70above)

# school_data_complete["math_score_70above"] =len(school_data_complete.loc[school_data_complete["math_score"]>=70])
# school_data_complete

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_per =round((math_score_70above/Total_Students )*100 ,6)
print(passing_math_per)
school_data_complete["%passing math"] =round((math_score_70above/Total_Students )*100 ,6)
school_data_complete

78.98537145774827
29370
74.980853

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,average_math_score,%passing math
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,78.985371,74.980853
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,78.985371,74.980853
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,78.985371,74.980853
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,78.985371,74.980853
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,78.985371,74.980853
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,78.985371,74.980853
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,78.985371,74.980853
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.985371,74.980853
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,78.985371,74.980853
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,78.985371,74.980853

In [37]:
# School Name : school_unique_data
# School Type: School_type
# Total Students:Total_Students
# Total School Budget:Total_budget
# Per Student Budget:Per_student_budget
# Average Math Score:Average_math_score]
# Average Reading Score: Avg_reading_score
# % Passing Math: math_score_per
# % Passing Reading:Reading_score_per
# % Overall Passing (The percentage of students that passed math and reading.):overall_pass_per

In [38]:
#calculate the Reading_score average and Percentages

average_Reading_score = school_data_complete['reading_score'].mean()
print(average_Reading_score)

school_data_complete["average_Reading_score"] =school_data_complete['reading_score'].mean()
school_data_complete

#Calculate the number of students with a passing reading score (70 or greater)
Reading_score_above70 = len(school_data_complete.loc[school_data_complete["reading_score"]>=70])
print(Reading_score_above70)


#Calculate the percentage of students with a passing reading score (70 or greater)
passing_Reading_per = round((Reading_score_above70/Total_Students )*100 ,6)
print(passing_Reading_per)

school_data_complete["%passing Reading"] =round((Reading_score_above70/Total_Students )*100 ,6)
school_data_complete

81.87784018381414
33610
85.805463

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,average_math_score,%passing math,average_Reading_score,%passing Reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463

In [39]:
#Calculate Totalnumber of students who passed math and reading (% Overall Passing)
math_Reading_pass_students= len(school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)])
math_Reading_pass_students

25528

In [40]:
#Calculate Totalnumber of students who passed math and reading (% Overall Passing)
overall_pass_per = round((math_Reading_pass_students/Total_Students)*100 ,6)
overall_pass_per

school_data_complete["% overall pass"] =round((Reading_score_above70/Total_Students )*100 ,6)
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,average_math_score,%passing math,average_Reading_score,%passing Reading,% overall pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463

In [41]:
#unique school data
school_unique_data=school_data_complete["school_name"].unique()
school_unique_data

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [42]:
#Calculate the total number of schools

Total_schools= len(school_unique_data)

Total_schools

15

In [43]:
# unique budget data in the column
unique_budget=school_data_complete["budget"].unique()
unique_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [44]:
# Finding Total budget
Total_budget =sum(unique_budget)
Total_budget

24649428

In [45]:
# #Each student budget 
# Per_student_budget = Total_budget/Total_Students
# Per_student_budget

# school_data_complete["per_student_budget"] =round((math_score_70above/Total_Students )*100 ,6)
# school_data_complete

In [46]:
# unique School_types
School_type = school_data_complete["type"]
School_type

0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

In [47]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,average_math_score,%passing math,average_Reading_score,%passing Reading,% overall pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,78.985371,74.980853,81.87784,85.805463,85.805463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,78.985371,74.980853,81.87784,85.805463,85.805463

In [48]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget',
       'average_math_score', '%passing math', 'average_Reading_score',
       '%passing Reading', '% overall pass'],
      dtype='object')

In [62]:
# Group by the schools


school_data_complete_groups =school_data_complete.groupby("school_name")
schools_type=(school_data_complete_groups["type"].value_counts())
print(schools_type)
Average_scores =school_data_complete_groups["math_score","reading_score"].mean()
Budget_Total = school_data_complete_groups["budget"].sum()
print(Budget_Total)
print(Average_scores)

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: type, dtype: int64
school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64
                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

C:\Users\Viswajani\anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  import sys

In [63]:
#calculate the % passing math 


per_school_passing_math= school_data_complete[school_data_complete['math_score'] >=70]

Each_school_counts= school_data_complete["school_name"].value_counts()
Each_school_counts
Passing_per_math=per_school_passing_math.groupby(['school_name']).count()["budget"]/Each_school_counts*100
Passing_per_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [56]:
#calculate the the % passing Reading
per_school_passing_reading= school_data_complete[school_data_complete['reading_score'] >=70]
Each_school_counts= school_data_complete["school_name"].value_counts()
Each_school_counts
Passing_per_reading=per_school_passing_reading.groupby(['school_name']).count()["budget"]/Each_school_counts*100
Passing_per_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [57]:
#calculate the the % Overall passing

per_school_passing_reading= school_data_complete[school_data_complete['reading_score'] >=70]
per_school_overall_passing= school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)]

Each_school_counts= school_data_complete["school_name"].value_counts()
Each_school_counts
Overall_passing_per=per_school_overall_passing.groupby(['school_name']).count()["budget"]/Each_school_counts*100
Overall_passing_per

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [66]:
school_data_complete["Per_student_budget"] = school_data_complete['budget'] / school_data_complete['size']

school_data_complete["Per_student_budget"]

#print(school_data_complete["math_score_per"])
Grouped_school_summary=school_data_complete.groupby(['school_name','budget',"Per_student_budget",'Passing_per_math','Passing_per_reading','Overall_passing_per']).agg( Schooltype =('type','unique'),
                                                   Total_students =('Student ID','count'),
                                                    avg_math_score=('math_score', 'mean'),
                                                    avg_reading_score =('reading_score', 'mean'),
                                                    
                                                    ) 
                                                
                                               

Grouped_school_summary

KeyError: 'Passing_per_math'

In [53]:
# school_data_complete.groupby(['school_name','budget',"Per_Student_Budget"]).agg( Schooltype =('type','unique'),
#                                                    Total_students =('Student ID','count'),
#                                                     avg_math_score=('math_score', 'mean'),
#                                                     avg_reading_score =('reading_score', 'mean'),
#                                                     math_score_per = ('math_score_per','count')
#                                                     )

In [54]:
per_school_passing_reading.groupby(['school_name']).count()

NameError: name 'per_school_passing_reading' is not defined

In [ ]:
# #calculate the % passing math 


# per_school_passing_math= school_data_complete[school_data_complete['math_score'] >=70]

# Each_school_counts= school_data_complete["school_name"].value_counts()
# Each_school_counts
# Passing_per_math=per_school_passing_math.groupby(['school_name']).count()["budget"]/Each_school_counts*100
# Passing_per_math

In [ ]:
# #calculate the the % passing Reading
# per_school_passing_reading= school_data_complete[school_data_complete['reading_score'] >=70]
# Each_school_counts= school_data_complete["school_name"].value_counts()
# Each_school_counts
# Passing_per_reading=per_school_passing_reading.groupby(['school_name']).count()["budget"]/Each_school_counts*100
# Passing_per_reading

In [ ]:
# #calculate the the % Overall passing

# per_school_passing_reading= school_data_complete[school_data_complete['reading_score'] >=70]
# per_school_overall_passing= school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)]

# Each_school_counts= school_data_complete["school_name"].value_counts()
# Each_school_counts
# Overall_passing_per=per_school_overall_passing.groupby(['school_name']).count()["budget"]/Each_school_counts*100
# Overall_passing_per

In [ ]:
# # created new data frame with "school_name", "type","size","budget","math_score","reading_score" data
# School_summary ={"school_name":[school_unique_data],"School_Type ":[Schooltype],"Total_Students":[Total_students],
#                    "Total_School_Budget":[Total_budget],"Per_Student_Budget":[Per_student_budget],
                        #"Average_Math_Score":[avg_math_score],"Average_Reading_Score":[avg_reading_score],
                    #Per_Student_Budget":per_stu_budget
                    
#School_summary ={"school_name":school_data_complete["school_name"],"% Passing Math":Passing_per_math,"% Passing Reading":Passing_per_reading,
                     #"% Overall Passing":Overall_passing_per                            
                    
School_summary ={"% Passing Math":Passing_per_math,"% Passing Reading":Passing_per_reading,
                     "% Overall Passing":Overall_passing_per                            
                    }
school_summary_df =pd.DataFrame(School_summary)   

school_summary_df

In [ ]:
#merge_df = pd.merge(info_df, items_df, on="customer_id", how="outer")

merge_df = pd.merge(Grouped_school_summary,school_summary_df,on="school_name", how="outer")
merge_df

In [ ]:
#merge_df.dropna(how="all")

In [ ]:
final_df=merge_df.groupby(['school_name'])
print(final_df)
final_df